{% extends 'usernavigation.html' %}


{% load static %}
{% block body %}
{% ifequal error "no" %}
<script>
    
    alert("Password Chnaged Succesfully");
    window.location = ("{% url 'logout' %}");
</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Password Not Matches");
</script>
{% endifequal %}






<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mt-5">    
           
                <img src="{% static 'images/password.jpg' %}" alt="" style="width: 500px;">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">Change Password</h2>
            <hr>
            <form method="POST"> 
            {% csrf_token %}
                <label for="">Old Password</label>
                <input type="password" class="form-control" name="old" placeholder="Enter Old Password">

                <label for=""> New Password</label>
                <input type="password" class="form-control" name="new" placeholder="Enter new Password">

                <label for=""> Confirm Password</label>
                <input type="password" class="form-control" name="confirm" placeholder="Enter  confirm new Password">


                <input type="submit" class="btn btn-primary mt-2" value="Change Password">
                {% csrf_token %}

            </form>

        </div>
    </div>

</div>



{% endblock %}